<template>
    <div>Hello, world!</div>
</template>

<script>
    import {toggleShow} from "./mixins/show/toggleShow";

    export default {
        name: "Example",
        mixins: [toggleShow],
    }
</script>
