$color-white: #fbfbfb;
$color-black: #3A3A3E;

$color-gray-dark: #54565D;
$color-gray: #94969D;
$color-gray-light: #EAECF3;

$color-orange-dark: #895C18;
$color-orange: #EDA02E;
$color-orange-light: #FCEEDB;

$color-purple-dark: #671B79;
$color-purple: #B033D1;
$color-purple-light: #F4DBF9;

$color-green-dark: #165409;
$color-green: #288E12;
$color-green-light: #DBF1D7;

$color-yellow-dark: #8F8000;
$color-yellow: #F7DD00;
$color-yellow-light: #FEFAD5;

$color-red-dark: #8A1E1E;
$color-red: #EE3737;
$color-red-light: #FDDCDC;

$color-blue-dark: #0E4189;
$color-blue: #1B6CE8;
$color-blue-light: #D3E7FC;